@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body {
    background-color: #aca9a9;
    display: flex;
    min-height: 97vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.card {
    margin: auto;
    background-color: #000000;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 10px 10px 10px 5px #413e3e;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 50px;
}
.img-container {
    padding: 50px;
}
.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px 5px #cccbcb;
    transition: .5s;
    filter: grayscale(80%);
}
.img {
    transform: scale(1.1);
    filter: grayscale(0%);
}
.links {
    display: flex;
    margin: 10px auto;
}
.icon {
    margin: 10px;
    font-size: 25px;
    transition: .5s;
}
.description {
    word-wrap: break-word;
    width: 200px;
    font-size: 13px;
    text-align: center;
    margin: 10px auto;
}
.subtitle {
    font-size: 10px;
    margin: 5px auto;
}
.title {
    font-size: 25px;
    margin: 10px auto 5px;
}
.icon:hover {
    transform: scale(1.3);
}
.facebook {
    color: blue;
}
.twitter {
    color: rgb(28, 130, 247);
}
.github {
    color: rgb(165, 9, 212);
}
.instagram {
    background: -webkit-linear-gradient(rgb(47, 0, 255), rgb(255, 0, 212));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whatsapp {
    color: green;
}